
<!--
<mat-grid-list class="mt-10 ml-6" cols="3" rowHeight="1:1">
        <div *ngFor="let product of products">
            <mat-grid-tile class="flex space-x-4">
                <mat-card class="mb-16">
                    <div>
                    <img class="object-fill" src="../../../assets//images/d11.jpg">
                    
                    </div>
                    <mat-card-title class="float-left">{{product.name}}</mat-card-title>
                </mat-card>
            </mat-grid-tile>

    </div>
 </mat-grid-list>
-->
<div class="grid grid-cols-3 mt-6 ml-8">
<div *ngFor="let product of products">
        <div class="max-w-sm bg-white shadow-md w-80 mb-12">
            <img class="" src="../../../assets//images/d11.jpg" alt="" />
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white font-handle">{{product.name}}</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 font-handle">{{product.description}}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 font-handle">${{product.price}}</p>
                <!-- 
                <a href="#" class="font-handle inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                    <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
                -->

            </div>
        </div>
    </div>
</div>


